{
  "presets": [
    [
      "next/babel",
      {
        "preset-env": {
          "targets": "> 0.25%" // can be anything browserlist supports
        }
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-typescript",
    "@vanilla-extract/babel-plugin"
  ]
}
